.d-item {
  display: flex;
  text-align: center;
  color: var(--surface-0);
  justify-content: space-between;
}

.name {
  font-size: 1.4em;
}

.number {
  font-size: 2.25em;
  margin-top: 50px;
}

.d-orders {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.d-products {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.d-users {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}
.d-totalsales {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}
