footer {
  background-color: $accent-color;
  min-height: 50px;
  padding: 10px 25px;
  width: 100%;
  margin-top: 25px;
  color: $primary-color;

  .footer-wrapper {
    align-items: center;

    .social {
      margin-top: 15px;
      text-align: right;
      .nav {
        justify-content: flex-end;
      }
    }
  }
}
